@model shop.ViewModel.RegisterSellerViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
    <link type="text/css" rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>

    @if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
    {
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-success">
                <b>Success! @ViewBag.Message</b>
            </div>
        }
    }
    else
    {
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form method="post" asp-action="Register" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MiddleName" class="control-label"></label>
                        <input asp-for="MiddleName" class="form-control" />
                        <span asp-validation-for="MiddleName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Lastname" class="control-label"></label>
                        <input asp-for="Lastname" class="form-control" />
                        <span asp-validation-for="Lastname" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Dob" class="control-label"></label>
                        <input asp-for="Dob" class="form-control" />
                        <span asp-validation-for="Dob" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ScategoryId" class="control-label"></label>
                        <select asp-for="ScategoryId" class="form-control">
                            <option value="">--Select your shop's category--</option>
                            @foreach (var item in Model.ScategoryList)
                            {
                                <option value="@item.ScategoryId">@item.Name</option>
                            }
                        </select>
                        <span asp-validation-for="ScategoryId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Phone" class="control-label"></label>
                        <input asp-for="Phone" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ShopName" class="control-label"></label>
                        <input asp-for="ShopName" class="form-control" />
                        <span asp-validation-for="ShopName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address" class="control-label"></label>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BrandImage" class="control-label"></label>
                        <input type="file" asp-for="BrandImage" class="form-control" />
                        <span asp-validation-for="BrandImage" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="IdCard" class="control-label"></label>
                        <input type="file" asp-for="IdCard" class="form-control" />
                        <span asp-validation-for="IdCard" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="control-label"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-controller="Login" asp-action="Seller">Back to Login</a>
        </div>

    }


    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    }
</body>
</html>
