/*my styles*/
.edit-btn{
    margin-right: 10px;
}


#edit-div{
    margin-left: 10px;
}

/*Loader start*/
.spinner{
    width: 80px;
    height: 80px;
    border: 2px solid #455a6486;
    border-top: 3px solid rgb(38, 38, 70);
    border-radius: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }to{
         transform: rotate(360deg);
     }
}

#overlay{
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.596);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3000;
}

/*Loader end*/
